@charset "utf-8";
/* CSS Document */
@import "fonts.css";

html {
    font-size: 62.5%;
    font-family: "SF-Pro-Display-Medium";
    color: white;
}

body {
    padding: 0;
    margin: 0;
}

.return-home {
    margin-bottom: 50px;
}

a {
    font-size: 3.4rem;
    color: white;
}

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }

.first-page {
    background-color: rgba(34, 21, 98, 1.00);
    background-image: url("img/Banner.png");
    background-repeat: no-repeat;
}
/*FP HEADER*/
.fp-header {
    margin: auto 12%;
    padding-top: 150px;
}

.fp-header-left {
    position: absolute;
    left: 300px;
    float: left;
}

.fp-dil-logo-holder {
    width: 20%;
}

    .fp-dil-logo-holder img {
        max-width: 350px;
    }

.fp-logo-text {
    font-family: "SF-Pro-Display-Medium";
    color: white;
    font-size: 4rem;
}

.fp-header-right {
    display: inline-flex;
    margin-top: 300px;
    padding-left: 180px;
}

@media screen and (min-width: 1340px) {
    .fp-header-right {
        margin-top: 0;
        margin-left: 600px;
        position: absolute;
        right: 50px;
    }
}

.fp-rectangle {
    width: 1.2rem;
    height: 10.6rem;
    background: rgba(34, 251, 215, 1);
}

.fp-title {
    font-family: 'SF-Pro-Text-Bold';
    font-size: 4.2rem;
    color: rgba(255, 255, 255, 1);
    padding-left: 2rem;
}

.fp-2020 {
    font-family: 'SF-Pro-Text-Bold';
    font-size: 14rem;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: -35px;
    margin-left: 15px;
}

.fp-header-quote {
    font-family: 'SF-Pro-Text-Bold';
    font-size: 8.7rem;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
}

@media screen and (min-width: 1340px) {
    .fp-header-quote {
        padding-top: 250px;
    }
}
/* FP HEADER end*/
/*FP BODY*/
.first-page-body {
    margin: auto 12%;
}

.fp-manager-title {
    background-color: rgba(20, 8, 70, 1);
    display: inline-flex;
    padding-right: 50px;
}

.fp-mt-rectangle {
    width: 12px;
    height: 48px;
    margin: 12px;
    background: rgba(34, 251, 215, 1);
}

.fp-mt-text {
    margin: 12px 0px;
}

.fp-body-text {
    padding-top: 50px;
}

.fp-paragraph {
    font-family: 'SF-Pro-Text-Medium';
    font-size: 2.8rem;
}

.bright-turquoise-50px-text {
    color: rgba(34, 251, 215, 1);
    font-size: 5rem;
}

.fp-text-with-picture {
    display: flex;
}

.fp-twp-picture {
    max-width: 420px;
    max-height: 420px;
    float: left;
}

.fp-twp-text {
    float: right;
}

.fp-footer {
    display: flex;
    margin: auto 18%;
    max-width: 1305px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    font-size: 57px;
    text-align: center;
}

    .fp-footer span {
        color: rgba(34, 251, 215, 1);
    }

#iframe-range {
    width: 100%;
    height: 500px;
}

.videosize{
    width:25%;
}
@media screen and (max-width: 768px) {
    #iframe-range {
        width: 100%;
        height: 200px;
    }
    .videosize {
        width: 60%;
        border:2px solid midnightblue;
    }

    .mobile-header {
        margin-bottom: 10px;
    }
}
