@import "fonts.css";

body {
    background-image: -webkit-linear-gradient(rgba(230, 240, 255, 0.45) 0%, rgba(244, 247, 255, 1) 100%);
    background-image: -moz-linear-gradient(rgba(230, 240, 255, 0.45) 0%, rgba(244, 247, 255, 1) 100%);
    background-image: -o-linear-gradient(rgba(230, 240, 255, 0.45) 0%, rgba(244, 247, 255, 1) 100%);
    background-image: linear-gradient(rgba(230, 240, 255, 0.45) 0%, rgba(244, 247, 255, 1) 100%);
}

.sp-header {
    justify-content: center;
    background-image: linear-gradient(to right, aliceblue, rgb(20 223 205), rgba(20, 223, 205, 1), rgb(17 227 208), aliceblue);
    color: white;
    text-align: center;
    font-size: 4rem;
    font-family: 'SF-Pro-Rounded-Bold';
    margin: 75px auto;
    width: 100%;
    margin-top: 20px;
}

.sp-text {
    /*font-family: 'SF Pro Rounded';*/
    font-size: 1.5rem;
    font-weight: 500;
    color: midnightblue;
    text-align: justify;
    word-spacing: -2px;
    line-height: 36px;
}

.big-text {
    font-size: 51px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .sp-text {
        /*font-family: 'SF Pro Rounded';*/
        font-size: 20px;
        font-weight: 500;
        color: midnightblue;
        text-align: justify;
        /*text-justify:distribute;*/
        word-spacing:-2px;
        line-height: 35px;
    }

    .sp-header {
        justify-content: center;
        background-image: linear-gradient(to right, aliceblue, rgb(20 223 205), rgba(20, 223, 205, 1), rgb(17 227 208), aliceblue);
        color: white;
        text-align: center;
        font-size: 30px;
        font-family: 'SF-Pro-Rounded-Bold';
        margin: 75px auto;
        width: 100%;
        margin-top:20px;
    }

    .big-text {
        font-size: 25px;
        font-weight: bold;
    }
}

@media screen and (min-width:1023px) {
    .mobile-header {
        display: none;
    }
}

@media screen and (max-width:1024px) {
    .main-header {
        display: none;
    }
}