/* CSS Document */
.main-header {
	margin: auto;
	margin-bottom: 50px;
	background: rgba(28, 14, 82, 1);
}
.fp-header-left {
	position: absolute;
	left: 100px;
	float: left;
	background-image: -webkit-linear-gradient(rgba(18, 7, 67, 1) 0%, rgba(41, 17, 120, 0) 100%);
	background-image: -moz-linear-gradient(rgba(41, 17, 120, 0) 0%, rgba(18, 7, 67, 1) 100%);
	background-image: -o-linear-gradient(rgba(41, 17, 120, 0) 0%, rgba(18, 7, 67, 1) 100%);
	background-image: linear-gradient(rgba(18, 7, 67, 1) 0%, rgba(41, 17, 120, 0) 100%,);
	padding-top: 50px;
}
.fp-dil-logo-holder {
	width: 20%;
}
.fp-dil-logo-holder img{
	max-width: 300px;
}
.fp-logo-text {
	font-family: "SF-Pro-Display-Medium";
	color: white;
	font-size: 2.2rem;
}
.fp-header-right {
	display: inline-flex;
	margin-top: 300px;
	padding-left: 80px;
}

@media screen and (min-width: 768px) {
   .fp-header-right { 
	   margin-top: 80px;
	   margin-left: 600px;
	   position: absolute;
	   right: 50px;
  }
}
.fp-rectangle {
	width: 0.5rem;
	height: 4.5rem;
	background: rgba(34, 251, 215, 1);
}
.fp-title {
	font-family: 'SF-Pro-Rounded-Bold';
	font-size: 2rem;
	color: rgba(255, 255, 255, 1);
	padding-left: 1rem;
}
.fp-2020 {
	font-family: 'SF-Pro-Rounded-Bold';
	font-size: 6rem;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	margin-top: -20px;
	margin-left: 15px;
}

.fp-header-quote {
	font-family: 'SF-Pro-Text-Bold';
	font-size: 3rem;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
   .fp-header-quote { 
	padding-top: 200px;
  }
}

