@charset "utf-8";
/* CSS Document */
@import "fonts.css";
@import "header.css";
body {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: "SF-Pro-Rounded-Medium";
	color: midnightblue;
	padding: 0;
	margin: 0;
	background-color: aliceblue;
}


.return-home{
		margin-bottom: 50px;
}
a{
	font-size: 34px;
	color: midnightblue;
	font-family: "SF-Pro-Display-Medium";
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.second-page {
	margin: auto 12.5%;
}
.sp-header {
	justify-content: center;
	background-image: linear-gradient(to right, aliceblue, rgba(97, 50, 217, 1), rgba(97, 50, 217, 1), rgba(97, 50, 217, 1), aliceblue);
	color: white;
	text-align: center;
	font-size: 40px;
	font-family: 'SF-Pro-Rounded-Bold';
	margin: 75px auto;
}
.sp-text {
	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
	
}
.sp-boxes {
	display: block;
	justify-content: center;
}
.sp-box {
	max-width: 100%;
	margin-bottom: 30px;
	padding-bottom: 5%;
	padding-top: 5%;
	min-width: 450px;
}

@media only screen and (min-width: 1240px) {
	.sp-boxes{
		display: inline-flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.sp-box {
		max-width: 48%;
	}
}

.sp-dilarticule {
	font-family: 'SF-Pro-Rounded-Bold';
	font-size: 65px;
}
.sp-dilarticule span {
	color: rgba(238, 34, 189, 1);
	font-size: 6.5rem;
	font-family: 'SF-Pro-Rounded-Bold';
}

.sp-box.with-image {
	background-color: white;
	padding-left: 40px;
	padding-right: 20px;
}

.sp-box.with-image *{
	background-color: white;
}
.sp-bwi-header{
	background-color: inherit;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.sp-bwi-img{
	max-width: 145px;
	width: 100%;
	background-color: inherit;
}

.sp-bwi-header .header-text{
	background-color: inherit;
	font-family: "SF-Pro-Rounded-Bold";
	font-size: 30px;
	text-align: center;
	margin-left: 20px
	
}

.sp-box.with-image ul{
	list-style-type:disc;
	font-size: 28px;
	margin-left: 10%;
	margin-right: 10%;
	letter-spacing: -0.01em;
	line-height: 27px;
	margin-top: 40px
}