@charset "utf-8";
/* CSS Document */
@import "fonts.css";
@import "header.css";

body{
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: "SF-Pro-Rounded-Medium";
	color: midnightblue;
	padding: 0;
	margin: 0;
	background-color: aliceblue;
}
a{
	font-size: 34px;
	color: midnightblue;
	font-family: "SF-Pro-Display-Medium";
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.sixth-page {
	margin: auto 12.5%;
}
.f5p-header {
	justify-content: center;
	color: white;
	text-align: center;
	font-size: 40px;
	font-family: 'SF-Pro-Rounded-Bold';
	margin: 50px auto 125px auto;
	padding: 10px 0;
}
.f5p-header.purple {
	background-image: linear-gradient(to right, aliceblue, rgba(97, 50, 217, 1), rgba(97, 50, 217, 1), rgba(97, 50, 217, 1), aliceblue);
}
.f5p-header.green {
	background-image: linear-gradient(to right, aliceblue, rgba(34, 251, 215, 1), rgba(34, 251, 215, 1), rgba(34, 251, 215, 1), aliceblue);
}
.f5p-header.pink {
	background-image: linear-gradient(to right, aliceblue, rgba(238, 34, 189, 1), rgba(238, 34, 189, 1), rgba(238, 34, 189, 1), aliceblue);
}
.f5p-text {
	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
}
b {
	font-family: 'SF-Pro-Rounded-Bold';
	color: rgba(26, 8, 101, 1);
	text-align: justify;
	font-size: 30px;
	line-height: 36px;
}
img {
	height: auto;
	max-width: 100%;
	margin: auto;
}
.bold-green {
	font-family: 'SF-Pro-Rounded-Bold';
	color: rgba(30, 186, 160, 1);
	text-align: justify;
	font-size: 30px;
	line-height: 36px;
}
.bold-purple {
	font-family: 'SF-Pro-Rounded-Bold';
	color: rgba(97, 61, 191, 1);
	text-align: justify;
	font-size: 30px;
	line-height: 36px;
}
.f5p-text-with-picture {
	clear: both;
}
#f5p-twp-1 {
	width: 50%;
}
.f5p-picture-discovery {
	width: 50%;
	float: right;
}
.f5p-picture-discovery img {
	height: auto;
	max-width: 100%;
	margin: auto;
}
#f5p-twp-2 {
	width: 50%;
	float: right;
}
.f5p-picture-teaching {
	width: 50%;
}
.f5p-picture-teaching img {
	height: auto;
	max-width: 100%;
	margin: auto;
}
@media only screen and (max-width: 768px) {
	#f5p-twp-1 {
		width: 100%;
	}
	.f5p-picture-discovery {
		width: 100%;
		float: none;
	}
	.f5p-picture-discovery img {
		height: auto;
		max-width: 100%;
		margin: auto;
	}
	#f5p-twp-2 {
		width: 100%;
		float: none;
	}
	.f5p-picture-teaching {
		width: 100%;
		float: none;
	}
	.f5p-picture-teaching img {
		height: auto;
		max-width: 100%;
		margin: auto;
	}
}
.f5p-picture-wrapper {
	align-content: center;
	margin: 20px 25%;
}
.f5p-pw-1 {
	height: auto;
	margin: auto;
	width: 50%;
}
.f5p-pw-2 {
	height: auto;
	width: 50%;
	margin: auto;
}
.f5p-big-quote {
	font-family: 'SF-Pro-Rounded-Bold';
	font-size: 58px;
	text-align: center;
	margin: auto 10;
}
.f5p-big-quote-pink {
	font-family: 'SF-Pro-Rounded-Bold';
	font-size: 100px;
	font-weight: 900;
	color: rgba(238, 34, 189, 1);
	text-align: center;
}
.f5p-painting-image {
	height: auto;
	width: 50%;
	max-width: 100%;
	margin: auto;
}
.f5p-stay-tuned{
	font-family: 'SF-Pro-Rounded-Bold';
	font-size: 58px;
	color: rgba(255, 0, 194, 1);
	text-align: center;
}