@charset "utf-8";
/* CSS Document */
@import "fonts.css";
body{
	background-color: aliceblue;
	padding: 0;
	margin: 0;
	margin: auto 12.5%;
	font-size: 62.5%;
	box-sizing: border-box;
	font-family: "SF-Pro-Rounded-Medium";
	color: midnightblue;
}
.tp-header {
	justify-content: center;
	background-image: linear-gradient(to right, aliceblue, rgba(238, 34, 189, 1), rgba(238, 34, 189, 1), rgba(238, 34, 189, 1), aliceblue);
	color: white;
	text-align: center;
	font-size: 4rem;
	font-family: 'SF-Pro-Rounded-Bold';
}
.tp-boxes{
	border-style: solid;
}
.tp-boxes img{
	display: none;
}